<mat-card class="card">
  <mat-card-title>
    <span >Stats</span>
  </mat-card-title>
  <mat-card-content>
    <div fxLayout="column" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div *ngIf="!loadingStats" fxFlex>
          <mat-form-field>
            <mat-label></mat-label>
            <mat-select [(value)]="selectorValue">
              <mat-option value="Total">Total</mat-option>
              <mat-option *ngFor="let s of snifferList" [value]="s.id">
                {{s.buildingName}}, {{s.roomName}}, {{s.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div *ngIf="!loadingStats" fxFlex>
          <button mat-raised-button color="primary" (click)="fetchStatsOnChange()">Select</button>
        </div>
      </div>
      <div *ngIf="!loadingStats" fxFlex>
        Total collected packets: {{this.totalParsedPackets}}
      </div>
      <div *ngIf="!loadingStats"fxFlex>
        Global : {{this.totalGlobalParsedPackets}} = {{this.globalPercent | number:'2.2-2'}} %
      </div>
      <div *ngIf="!loadingStats" FxFlex>
        Local: {{this.totalLocalParsedPackets}} = {{this.localPercent | number:'2.2-2'}} %
      </div>
      <div *ngIf="!loadingStats" fxFlex>
        <div class="chart">
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [chartType]="pieChartType"
                  [options]="pieChartOptions"
                  [colors]="pieChartColors"
                  [legend]="pieChartLegend">
          </canvas>
        </div>
      </div>
      <div *ngIf="loadingStats" fxLayout="row" fxLayoutAlign="center center">
        <div fxFill>
          <div>
            <mat-spinner class="centra_spinner" diameter="30"></mat-spinner>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
