<div class="row">
  <form [formGroup]="group" (ngSubmit)="createSniffer()" class="col s6">
    <div class="row">
      <div class="input-field col s12">
        <input id="mac" type="text" class="validate" formControlName="mac">
        <label for="mac">MAC</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="name" type="text" class="validate" formControlName="name">
        <label for="name">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="building" type="text" class="validate" formControlName="building">
        <label for="building">Building</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="room" type="text" class="validate" formControlName="room">
        <label for="room">Room</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <button class="btn waves-effect cyan darken-3 hoverable" style="margin-right: 15px" type="submit">Confirm</button>
        <button class="btn waves-effect red hoverable" type="reset">Clear</button>
      </div>
    </div>
  </form>
</div>

