<div class="container">
  <div class="row">
    <div class="col s8 offset-s2 m6 offset-m3">
      <h2>Login</h2>
      <div class="section">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="input-field">
            <label >Username</label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
          </div>
          <div class="input-field">
            <label >Password</label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="input-field">
            <button [disabled]="loading" class="btn waves-effect waves-light hoverable" style="margin-right: 15px">Login</button>
            <button routerLink="/register" class="btn waves-effect waves-light hoverable">Register</button>
            <div *ngIf="loading">
              <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-green-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                  <div class="circle"></div>
                </div><div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

