<div fxLayout="row" fxLayoutGap="20px">
  <div fxLayoutAlign="end center" fxFlex>
    <button mat-button color="primary" (click)="toggleCustomSelection()">Custom Selection</button>
  </div>
</div>
<div fxLayout="row" fxLayout.sm="column" style="background-color: green">
  <div  [fxFlex]="chartWidth" fxFlex.sm="100">
    <app-counted-packets-chart>
    </app-counted-packets-chart>
  </div>
  <div [fxShow]="showCustomSelection" [fxFlex]="100-chartWidth">
    <app-custom-selection></app-custom-selection>
  </div>
</div>
