<div fxLayout="row wrap" fxLayoutGap="1%" fxLayout.xs="column">
  <div  fxLayout="row" fxFill>
    <div fxLayoutGap="20px" fxLayoutAlign="end center" fxFlex="100" fxFlex.sm="100">
    <mat-form-field>
      <input matInput placeholder="Search Sniffer" type="text" [(ngModel)]="searchString">
    </mat-form-field>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="searchByMac()">Mac address</button>
        <button mat-menu-item (click)="searchByName()">Name</button>
        <button mat-menu-item (click)="searchByBuilding()">Building</button>
        <button mat-menu-item (click)="searchByRoom()">Room</button>
      </mat-menu>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu">Search by...</button>
    </div>
  </div>
  <div fxLayout="row" fxFill>
    <div fxLayoutAlign="end center"  fxFlex.sm="100" fxFlex="100" >
        <button mat-raised-button color="primary" [routerLink]="['/create/sniffer']">New sniffer</button>
        <button mat-raised-button color="primary" (click)="fetchSniffers()">Reload</button>
    </div>
  </div>
</div>
<div fxLayout="row">
  <div fxFlex="100">
    <table mat-table [dataSource]="snifferList">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element" >{{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="mac">
        <th mat-header-cell *matHeaderCellDef>Mac Adress</th>
        <td mat-cell *matCellDef="let element">{{element.mac}}</td>
      </ng-container>
      <ng-container matColumnDef="buildingName">
        <th mat-header-cell *matHeaderCellDef>Building</th>
        <td mat-cell *matCellDef="let element">{{element.buildingName}}</td>
      </ng-container>
      <ng-container matColumnDef="roomName">
        <th mat-header-cell *matHeaderCellDef>Room</th>
        <td mat-cell *matCellDef="let element">{{element.roomName}}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Building</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
      </ng-container>
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let element"><mat-icon [routerLink]="['/sniffers', element.id]" color="primary">search</mat-icon></td>
      </ng-container>
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef>Update</th>
        <td mat-cell *matCellDef="let element"><mat-icon [routerLink]="['/sniffers', element.id, 'update']" color="accent">autorenew</mat-icon></td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element"><mat-icon color="warn">delete</mat-icon></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>




<!--
<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign="left" fxLayoutAlign.sm="center center">
  <div *ngFor="let s of snifferList" fxFlex.sm="100">
    <mat-card class="card">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
        <span >{{s.name}}</span>
      </mat-card-title>
      <mat-card-subtitle>
        <span >{{s.mac | uppercase}}</span>
      </mat-card-subtitle>
      <mat-card-content>
        <mat-divider></mat-divider>
        <mat-list>
          <mat-list-item>
            Building: {{s.buildingName}}
          </mat-list-item>
          <mat-list-item>
            Room: {{s.roomName}}
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            Status: {{s.status}}
          </mat-list-item>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [routerLink]="['/sniffers', s.id]">Details</button>
        <button mat-raised-button color="primary" [routerLink]="['/sniffers', s.id, 'update']">Update</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
-->
