<ul id="slide-out" class="side-nav fixed black-text">
  <li>
    <div class="user-view">
      <div class="background cyan darken-3">
      </div>
      <a class="name white-text">{{userName}}'s dashboard</a>
      <a class="email white-text">boh</a>
    </div>
  </li>
  <li>
    <a (click)="navigateHome()" class="waves-effect"><i class="material-icons">home</i>Home</a>
  </li>
  <li>
    <a (click)="navigateProbes()" class="waves-effect"><i class="material-icons">wifi_tethering</i>Sniffers</a>
  </li>
  <li>
    <a *ngIf="userIsAdmin()" (click)="navigateUsers()" class="waves-effect"><i class="material-icons">portrait</i>Users</a>
  </li>
  <li>
    <a *ngIf="userIsAdmin()" routerLink="/buildings" class="waves-effect"><i class="material-icons">portrait</i>Buildings</a>
  </li>
  <li>
    <a *ngIf="userIsAdmin()" routerLink="/rooms" class="waves-effect"><i class="material-icons">portrait</i>Rooms</a>
  </li>
  <li>
    <a (click)="logout()" class="waves-effect"><i class="material-icons">exit_to_app</i>Logout</a>
  </li>
</ul>
<main>
<router-outlet></router-outlet>
</main>
